# It is not recommended to modify this file in-place, because it will
# be overwritten during package upgrades. If you want to add further
# options or overwrite existing ones then use
# $ systemctl edit coinbitd.service
# See "man systemd.service" for details.

# Note that almost all daemon options could be specified in
# /etc/coinbit/coinbit.conf

[Unit]
Description=Coinbit daemon
After=network.target

[Service]
ExecStart=/usr/bin/coinbitd -daemon -conf=/etc/coinbit/coinbit.conf -pid=/run/coinbitd/coinbitd.pid
# Creates /run/coinbitd owned by coinbit
RuntimeDirectory=coinbitd
User=coinbit
Type=forking
PIDFile=/run/coinbitd/coinbitd.pid
Restart=on-failure
PrivateTmp=true

[Install]
WantedBy=multi-user.target
